{% extends 'schools/base.html.twig' %}

{% block title %}Student Link - Réseau social étudiant pour les écoles !{% endblock %}

{% block hero %}
    <section id="heroHome">
        <div class="heroHome-container">
            <h1>L'appli dédiée<br/>à vos étudiants.</h1>
            <p>Découvre StudentLink, le réseau social étudiant !<br/></p>
            <a href="https://studentlink-frontend-web.vercel.app/" class="btn">Devenir partenaire</a>
        </div>
        <img class="globe" src="{{ asset('img/globe.png') }}" alt="globe">
    </section>
{% endblock %}

{% block body %}
    <section id="discover">
        <div class="discoverContainer">
            <h2>Découvrez StudentLink !</h2>
            <p>StudentLink est un réseau social qui permet à vos étudiants de rester en contact, de partager des publications, de discuter en privé et en groupe, de créer des événements et bien plus encore !</p>
        </div>

        <div class="cards">
            <div class="card">
                <img class="img-card noselect" alt="Amuse toi avec tes amis - StudentLink" src="{{ asset('img/discover/discover01.jpg') }}">
                <h3 class="text-center">Créations de liens entre vos étudiants</h3>
            </div>
            <div class="card">
                <img class="img-card noselect" alt="Participe aux évènements de nos partenaires - StudentLink" src="{{ asset('img/discover/discover02.jpg') }}">
                <h3 class="text-center">Organisations d'évènements extra-scolaires</h3>
            </div>
            <div class="card">
                <img class="img-card noselect" alt="Rejoins notre communauté - StudentLink" src="{{ asset('img/discover/discover03.jpg') }}">
                <h3 class="text-center">Entretien des réseaux d'alumnis et d'anciens élèves</h3>
            </div>
        </div>
    </section>

    <section id="downloads">
        <div class="downloadsContainer">
            <h2>Inscrivez votre école !</h2>
            <p>StudentLink est ravi d'accueillir de nouvelles écoles, et rassembler toujours plus d'étudiants !</p>
            <h3>Découverte de la plateforme ?</h3>
            <div class="downloadButtons">
                <a href="https://calendly.com/" class="btn">Prendre rendez-vous</a>
            </div>
            <h3>Vous êtes déjà inscrits ?</h3>
            <a href="https://studentlink-frontend-web.vercel.app/" class="btn">Ouvrir StudentLink</a>
        </div>
        <div class="downloadImage">
            <img class="noselect" src="{{ asset('img/mockup.png') }}" alt="Télécharge StudentLink">
        </div>
    </section>
{% endblock %}
